/* You can add global styles to this file, and also import other style files */

.a {
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  }
  body {
    padding-top: 50px;
  }
  
  #sidebar {
    position: fixed;
    top: 50px;
    left: 220px;
    width: 220px;
    margin-left: -220px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  
  .side-bar > li > a {
    color: #eee;
    width: 220px;
  }
  
  .side-bar li a:hover,
  .side-bar li a:focus {
    background-color: #333;
  }
  
  .tmargin {
    margin-top: 15px;
  }