<app-nav-bar></app-nav-bar>
<section class="about">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="author-img">
                    <img style="width: 100%;"
                        src="https://www.net4uservices.com/images/avatar/Internet-1.jpg"class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-center">
                <div class="section-title mt-4">
                    <h2>About Us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type</p>
                </div>
                <div class="icon-box">
                    <i class="fas fa-address-card"></i>
                    <h4 class="title">I am from</h4>
                    <p class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        Richard McClintock.</p>
                </div>
                <hr>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>