/*-- About Us --*/
.author-img{
    position: relative;
}
.about .author-img:before {
   content: "";
   background-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   width: 100%;
   height: 100%;
}
.about .container {
   box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
   padding-top: 15px;
   padding-bottom: 15px;
}
.about .section-title h2 {
    color: #000000;
}
.about .section-title p {
   text-align: left;
   font-style: italic;
   color: rgb(0, 0, 0);
}
.about .icon-box i {
   float: left;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 70px;
   height: 70px;
   background: #f1f7fb;
   border-radius: 6px;
   font-size: 26px;
   color: #ff0000;
   transition: 0.5s;
}
.about .icon-box:hover i {
   color: #fff;
   background: #ff0000;
}
.about .icon-box .title {
   margin-left: 95px;
   font-weight: 700;
   font-size: 20px;
}
.about .icon-box .title a {
   color: #000000;
   transition: 0.3s;
   text-decoration: none;
}
.about .icon-box .title a:hover {
    color: #ffc107;
}
.about .icon-box .description {
   margin-left: 95px;
   line-height: 24px;
   font-size: 14px;
}
    




