<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" id="sec-62ae" data-image-width="1280"
    data-image-height="720">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-oswald u-text u-text-default u-title u-text-1" style="color: black;">
            "ES-REPO"
        </h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2"><i>ES-REPO</i> est une plateforme créée
            par des
            étudiants d'esprit qui vise à collecter tous les cours/TDs de tous niveaux de manière simple et facile.
        </p>
        <a href="/aboutus" class="u-btn u-button-style u-palette-2-base u-btn-1">à propos</a>
    </div>
</section>
<br>
<br>
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="boxcard h-100" [routerLink]="'/matieres/1année'">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i>1</i></div>

                        <h2 class="fs-4 fw-bold">1 année</h2>
                        <p class="mb-0">&#9989;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="boxcard h-100" [routerLink]="'/matieres/2année|A'">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i>2</i></div>

                        <h2 class="fs-4 fw-bold">2 année|A</h2>
                        <p class="mb-0">&#9989;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="boxcard h-100" [routerLink]="'/matieres/3année|A' ">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i></i>3</div>

                        <h2 class="fs-4 fw-bold">3 année|A</h2>
                        <p class="mb-0">&#9989;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5 a">
                <div class="card bg-light border-0 h-100" [routerLink]="'/matieres/4année' "
                    style="cursor: not-allowed;">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i></i>4</div>

                        <h2 class="fs-4 fw-bold">4 année</h2>
                        <p>&#10060;</p>
                        <p class="mb-0">
                            pas encore prêt, nous comptons sur votre aide !</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5 a">
                <div class="card bg-light border-0 h-100" [routerLink]="'/matieres/5année'"
                    style="cursor: not-allowed;">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i>5</i></div>

                        <h2 class="fs-4 fw-bold">5 année </h2>
                        <p>&#10060;</p>
                        <p class="mb-0">
                            pas encore prêt, nous comptons sur votre aide !</p>
                    </div>
                </div>
            </div>




        </div>
        <button (click)="logOut()" style="position: relative;
        left:100%;margin-left:03%; 
      " class="btn btn-danger rounded-pill px-3 mb-5 mb-lg-0">
            <span class="d-flex align-items-center">
                <i class="bi-arrow-right-square-fill me-2"></i>
                <span class="small">logout</span>
            </span>
        </button>
        <br>

        <br>
    </div>

</section>