<div id="overlay" class="cover blur-in">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-danger " id="mainNav">
    <div class="container px-6 align-items-center">
      <a class="navbar-brand " style="font-family:italy" style="color:white">ESPRIT</a>
      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
        <li class="nav-item"><a class="nav-link me-lg-3"></a></li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item "><a class="nav-link me-lg-3">1ere</a></li>
        </ul>
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item"><a class="nav-link me-lg-3">2eme</a></li>
        </ul>
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              3 eme
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">3A</a></li>
              <li><a class="dropdown-item">3B</a></li>

            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item"><a class="nav-link me-lg-3">4eme</a></li>
        </ul>
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item"><a class="nav-link me-lg-3">5eme</a></li>
        </ul>
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item"><a class="nav-link me-lg-3"></a></li>
        </ul>
        <button class="btn btn-danger rounded-pill px-3 mb-5 mb-lg-0" data-bs-toggle="modal"
          data-bs-target="#feedbackModal">
          <span class="d-flex align-items-center">
            <i class="bi-chat-text-fill me-2"></i>
            <span class="small">Send Feedback</span>
          </span>
        </button>
      </div>
    </div>

  </nav>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <header class="py-5">
    <div class="container px-lg-5">
      <div class="p-4 p-lg-5 bg-light rounded-3 text-center wave">
        <h1>A WARM WELCOME</h1>

      </div>
    </div>
  </header>
  <section class="pt-4">
    <div class="container px-lg-5">
      <!-- Page Features-->
      <div class="row gx-lg-5">
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-collection"></i></div>
              <h2 class="fs-4 fw-bold">1 annee</h2>
              <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-cloud-download"></i></div>
              <h2 class="fs-4 fw-bold">2 annee</h2>
              <p class="mb-0">As always, Start Bootstrap has a powerful collectin of free templates.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                  class="bi bi-card-heading"></i></div>
              <h2 class="fs-4 fw-bold">3 annee</h2>
              <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5 a">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i>
              </div>
              <h2 class="fs-4 fw-bold">4 annee</h2>
              <p class="mb-0">We've created some custom feature boxes using Bootstrap icons!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5 a">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <div class="feature bg-danger bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i>
              </div>
              <h2 class="fs-4 fw-bold">5 annee</h2>
              <p class="mb-0">We keep our dependencies up to date and squash bugs as they come!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <footer class="footer text-center py-5 a">
    <div class="container px-5">
      <div class="text-white-50 small">
        <div class="mb-2" style="color:white"> Your Website 2021. All Rights Reserved.</div>

      </div>
    </div>
  </footer>

</div>
<div class="box ">
  <h3 class="pop-up">Welcome to</h3>
  <p>Integer non odio id ante rutrum dictum. Nam ac dapibus felis, at pharetra sapien. </p>
  <p>Maecenas lacus nisi, pellentesque a congue vel, rhoncus sit amet lacus. Sed mattis ultrices risus in tincidunt.</p>
  <div *ngIf="isLoggedin === false">
    <div>
      <button type="submit" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
    </div>
   
    <br>

  </div>
 
</div>
<script>
  $(function () {
    $('.pop-up').hide();
    $('.pop-up').fadeIn(1000);

    $('.close-button').click(function (e) {

      $('.pop-up').fadeOut(700);
      $('#overlay').removeClass('blur-in');
      $('#overlay').addClass('blur-out');
      e.stopPropagation();

    });
  });
</script>